.about {
  display: inline-block;
  width: 25%;
  margin: auto 2.5%;
  float: left;

  .stack ul {
    padding: 0 .15rem;
  }

  .stack li {
    display: inline-block;
    padding: .15rem;
    &:before {
      content: "-";
    }
  }

  .links {
    a {
      padding: auto 2.5%;

      font-size: 1rem;
      color: black;

      &:visited {
        color: black;
      }

      .fa {
        padding: auto 5.5%;
      }
    }
  }

}
